<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379027892611-s13n1q45e7e5l046tcc8eehgbqvbmdcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379027892611-s13n1q45e7e5l046tcc8eehgbqvbmdcr</string>
	<key>API_KEY</key>
	<string>AIzaSyB6ksbSU8nZHcTkedq7hMmPD69H3bmBuM4</string>
	<key>GCM_SENDER_ID</key>
	<string>379027892611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.Exponent</string>
	<key>PROJECT_ID</key>
	<string>sample-project-4fe08</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-project-4fe08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379027892611:ios:b9b0fcaa1f07f94803aeb6</string>
</dict>
</plist>